@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";

body {
    overflow: hidden;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

#threejs-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the Three.js container is behind other content */
}
#word {
    font-family: Megrim, cursive;
    font-size: 20vh;
    position: top;
    margin: 10;
    color: #fc0;
    -webkit-text-stroke: 0.15vh #c0f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.nav {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 65px;
    position: fixed;
    align-items: center;
    line-height: 65px;
    text-align: center;
    background-color: #ffffff00;
    z-index: 2; /* Ensure the navbar is above the Three.js background */
}

.nav div.logo a {
    -webkit-text-stroke: 0.15vh #c0f;
    font-family: Megrim, cursive;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

.nav div.main_list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 50px;
}

.nav div.main_list ul li {
    padding-right: 2rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.nav div.main_list ul li a:hover{
    color:#fbf548;
}
.nav div.main_list ul li a::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fbf548;
    transform: scale(0);
    transition: transform 0.3s ease;
}
.nav div.main_list ul li a:hover:after{
    transform: scale(1);
}

.nav div.logo a:hover{
    -webkit-text-stroke: #fbf548;
}

.landing {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro-text {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 20px;
}

.navTrigger {
    cursor: pointer;
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show_list {
    display: flex;
}
.purple{
    color: #c0f;
    font-family: Megrim, cursive;
}
.yellow{
    color: #fbf548;
    font-family: Megrim, cursive;
}
h1{
    color: #fff;
    font-size: 3rem;
}

/* home section*/
.home-section {
    padding-top: 100px;
    z-index: 1;
}

.landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro-text p{
    font-size: 1.2rem;
    color: #fff;
    margin-top: 20px;
}
.typewriter{
    color: #fff;
    font-size: 2rem;
}
/* about section */
.about-section {
    background-color: #16001673; /* Adjust background color as needed */
    color: #fff;
    z-index: 1;
    text-align: center;
}

.container {
   
    align-items: center;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
